.surligne {
    background-color: #ffea00; 
    color: #000000;
    padding: 0px 2px 0px 2px;
}

[data-wrap="columns"] {
  width: 50%;
  float: left;
  margin-right: 10px;
}

[data-wrap="columns"] > p {
    margin-top: 0;
    margin-bottom: 0;
}